# ============================================================
# Git
# ============================================================

.git
.github

# ============================================================
# Python
# ============================================================

.venv
venv
__pycache__
.pytest_cache
.mypy_cache

*.pyc
*.pyo
*.pyd

.coverage
coverage.xml
htmlcov/

# ============================================================
# Environment
# ============================================================

.env
.env.*
!.env.example

# ============================================================
# Credentials
# ============================================================

credentials/

# ============================================================
# Generated Data
# ============================================================

outputs/
logs/

data/raw/
data/private/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Operating System
# ============================================================

.DS_Store
Thumbs.db